h1{
color:rgb(133, 36, 252);
}
body{
    background-color: rgba(0, 0, 0, 0.961);
}
p1{
    color:rgb(224, 55, 250)
}
h2{
    color:rgb(224, 55, 250)
}
p2{
    color:rgb(135, 15, 214)
}
p3{
    color:rgb(238, 42, 225)
}
p4{
    color:rgb(135, 15, 214)
}
p5{
    color:rgb(135, 15, 214)
}
p6{
    color:rgb(135, 15, 214)
}
p7{
    color:rgb(224, 55, 250)
}
p8{
    color:rgb(224, 55, 250)
}
p9{
    color:rgb(224, 55, 250)
}
ul{
    color:rgb(135, 15, 214)
}
p10{
    color:rgb(135, 15, 214)
}
a{
    color:rgb(238, 42, 225)
}